<div class="container">
  <div class="filmes" style="margin: 10px 0">
    <h2>Lista Filmes</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col" class="col-sm-2">Imagem</th>
          <th scope="col">Título</th>
          <th scope="col">Sinopse</th>
          <th scope="col">Favoritar</th>
          <th scope="col">Like</th>
          <th scope="col">Dislike</th>
          <th scope="col">Comentário</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        
          <tr *ngFor="let filme of listaFilmes">
            <td>{{filme.id}}</td>
            <td><img [src]="filme.imagem" [alt]="filme.titulo" [title]="filme.titulo" class="img-fluid"/></td>
            <td>{{filme.titulo}}</td>
            <td>{{filme.sinopse}}</td>
            <td>
              <a *ngIf="filme.favorito == 'true'"><i class="bi bi-star-fill"></i></a>
              <a *ngIf="filme.favorito == 'false'"><i class="bi bi-star"></i></a>
            </td>

            <td>
              <a  #gost (click)="liker(gostei,naoGostei,gost)">
                <!-- <i #gostei class="bi bi-hand-thumbs-up-fill"></i> -->
                <i #gostei class="bi bi-hand-thumbs-up-fill"></i>
              </a>
            </td>
            <td>
              <a (click)="unliker(naoGostei,gostei)">
                <i #naoGostei class="bi bi-hand-thumbs-down"></i>
              </a>
            </td>
            <td>

              <form>
                <div class="form-group">
                  <textarea #comentario class="form-control" rows="3">{{filme.comentario}}</textarea>
                </div>
                <button (click)="comentarFilme(filme.id, comentario)" class="btn btn-sm btn-primary" type="button">Comentar</button>
              </form>
            </td>
            <td>
              <button class="btn btn-danger" (click)="removerFilme(filme.id)">Excluir</button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
</div>
